body{
    text-align: center;
    background-color: #A0DEBF;
}

.jsClassDiv{
    display: table;
}

.jsClassForm{
    background-color: white;
    height: 400px;
    width: 250px;
    border-radius: 20px 20px;
    box-shadow: 3px 3px 10px;
    margin: 50px;
    float: left;
    position: relative;
    
}

.jsClassName{
    font-size: 30px;
}


.jsToDoList{
    font-size: 15px;
    text-align: left;
    list-style: none;
    overflow: auto;
    resize: none;
    height: 280px;
    width: 160px;
    padding: 0px;
}

.checkBtn{

    background: white;
    cursor: pointer;
    padding: 0px;   
    border: 0;
}

.classBtn{
    position: absolute;
    padding: 0px;   
    border: 0;
    outline: 0;
    background-image: none;
    background-color: transparent;
    cursor: pointer;
}

.addBtn{
    bottom: 10px;
    right: 8px;
}

.delBtn{ 
    bottom: 10px;
    right: 8px;
}

.settingBtn{
    bottom: 10px;
    right: 28px;
}