body {
  text-align: center;
  background-color: #7ebdb4;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.jsClassDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.jsClassForm {
  background-color: white;
  height: 400px;
  width: 260px;
  border-radius: 20px 20px;
  box-shadow: 3px 3px 10px;
  margin: 50px;
  float: left;
  position: relative;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.jsClassName {
  font-size: 30px;
  margin-top: 7px;
  font-family: "Jua", sans-serif;
}

.jsToDoList {
  font-size: 15px;
  text-align: left;
  list-style: none;
  overflow: auto;
  resize: none;
  height: 70%;
  width: 85%;
  padding: 0px 0px;
  margin: 20px auto;
}

.jsToDoList li {
  margin: 5px;
  font-family: "Jua", sans-serif;
}

.checkBtn {
  margin-right: 5px;
  cursor: pointer;
  background-image: none;
  background-color: transparent;
  padding: 0px;
  border: 0;
}

.classBtn {
  position: absolute;
  padding: 0px;
  border: 0;
  outline: 0;
  background-image: none;
  background-color: transparent;
  cursor: pointer;
}

.addBtn {
  bottom: 10px;
  right: 8px;
}

.delBtn {
  bottom: 10px;
  right: 8px;
}

.settingBtn {
  bottom: 10px;
  right: 28px;
}

.jsTimeForm {
  font-family: "Jua", sans-serif;
  padding-top: 30px;
  color: white;
  font-size: 50px;
}

.jsTodayClass {
  background-color: #ffe0ac;
}
