@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  text-align: center;
  background-color: #7ebdb4;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.jsClassDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.jsClassForm {
  background-color: white;
  height: 400px;
  width: 260px;
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgb(75, 75, 75);
  margin: 50px;
  float: left;
  position: relative;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.jsClassName {
  font-size: 30px;
  margin-top: 7px;
  font-family: "Jua", sans-serif;
}

.jsToDoList {
  font-size: 15px;
  text-align: left;
  list-style: none;
  overflow: auto;
  resize: none;
  height: 70%;
  width: 85%;
  padding: 0px 0px;
  margin: 20px auto;
}

.jsToDoList li {
  margin: 5px;
  font-family: "Jua", sans-serif;
}

.checkBtn {
  margin-right: 5px;
  cursor: pointer;
  background-image: none;
  background-color: transparent;
  padding: 0px;
  border: 0;
}

.classBtn {
  position: absolute;
  padding: 0px;
  border: 0;
  outline: 0;
  background-image: none;
  background-color: transparent;
  cursor: pointer;
}

.addBtn {
  bottom: 10px;
  right: 8px;
}

.delBtn {
  bottom: 10px;
  right: 8px;
}

.settingBtn {
  bottom: 10px;
  right: 28px;
}

.jsTimeForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Jua", sans-serif;
  margin: 0 auto;
  color: black;
  font-size: 60px;
  background-color: wheat;
  width: 100%;
  box-shadow: 0px 0px 10px rgb(102, 102, 102);
  padding: 10px 40px;
  z-index: 5;
}

.jsTime {
  text-align: right;
  font-size: 35px;
}

.jsTodayClass {
  background-color: #ffe0ac;
}

.jsToDoInput {
  border: none;
  font-size: 20px;
  text-align: center;
  font-family: "Jua", sans-serif;
  background: transparent;
}
